@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.image-linear-gradient {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  mask-image: linear-gradient(
    rgba(255, 255, 255) 30%,
    rgba(255, 255, 255, 0.5) 60%,
    rgba(255, 255, 255, 0.35) 75%,
    rgba(255, 255, 255, 0.1) 90%
  );
}

.bg-without-navbar {
  height: calc(100dvh - 4rem);
}

.text-larger {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 700;
}

.background-21-container {
  @apply w-full py-4 px-4 bg-[#212121] rounded-lg md:px-8;
}

input:has(-internal-autofill-selected) {
  background-color: transparent !important;
}
